<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="normal-layout" value="[${date:format=HH\:mm\:ss}] ${message}" />
  
  <targets>
    <target name="console-target" xsi:type="Console" layout="${normal-layout}"/>
    <target name="logfile-target" xsi:type="File" layout="${normal-layout}" fileName="${basedir}/Logs/[${shortdate}] Output.log" />
    <target name="sms-logfile-target" xsi:type="File" layout="${message}${newline}" fileName="${basedir}/Logs/[${shortdate}] Sent SMS Messages.log" />
    <target name="cmc-logfile-target" xsi:type="File" layout="${normal-layout}" fileName="${basedir}/Logs/[${shortdate}] CoinMarketCap Crawling.log" />
  </targets>

  <rules>
    <logger name="StandardLogging" minlevel="Info" writeTo="console-target"/>
    <logger name="StandardLogging" minlevel="Info" writeTo="logfile-target" />
    <logger name="SentSMSLogger" minlevel="Info" writeTo="console-target"/>
    <logger name="SentSMSLogger" minlevel="Info" writeTo="logfile-target" />
    <logger name="SentSMSLogger" minlevel="Info" writeTo="sms-logfile-target"/>
    <logger name="CoinMarketCapLogger" minlevel="Info" writeTo="cmc-logfile-target"/>
  </rules>
</nlog>
